/* Centered
-------------------------------------*/

.h-centered {
  position: relative;
  width: 100%;
  height: 100%;

  > .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    @include transform(translate(-50%, -50%));
  }
}





/* Row
-------------------------------------*/

.row {
  @include span-columns(12);
}





/* Text Info
-------------------------------------*/

.text-info {
  margin-top: 0;
  margin-bottom: em(50px);
  font-size: em(20px);
  font-weight: $bold;
  text-align: center;
  color: #17ac10;
}
