body {
  font-family: $main-font;

  font-size: 12px;

  @media (min-width: em(768px)) {
    font-size: 14px;
  }

  @media (min-width: em(1024px)) {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
}
