/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.button {
  display: inline-block;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  font-size: em(18px);
  line-height: 40px;
  color: #9d9d9d;
  border: 1px solid #9d9d9d;
  background: none;
  @include transition(all .2s);

  &--block {
    font-weight: $bold;
    display: block;
    width: 200px;
    margin: 0 auto;

    &:hover {
      color: #17ac10;
      border-color: #17ac10;
    }
  }

  &--line {
    border: none;
    border-top: 1px solid #e7e7e5;
    background: none;

    &:hover {
      color: #050505;
      border-top-color: #616161;
    }

    &::after {
      content: '→';
      display: inline-block;
      margin-left: 10px;
    }
  }
}
