/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.button-line {
  display: inline-block;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  font-size: em(18px);
  line-height: 40px;
  color: #9d9d9d;
  border-top: 1px solid #e7e7e5;
  text-decoration: none;
  @include transition(all .2s);

  &:hover {
    color: #050505;
    border-top-color: #616161;
  }

  &::after {
    content: '→';
    display: inline-block;
    margin-left: 10px;
  }
}
