/*------------------------------------*\
    #FORM-ATTRACTION
\*------------------------------------*/

.form-attraction {
  width: 80%;
  margin: 30px auto 100px;
  overflow: hidden;

  @media (max-width: em(1024px)) {
    width: 90%;
  }

  @media (max-width: em(870px)) {
    width: 320px;
    margin-bottom: 50px;
  }

  @media (max-width: em(520px)) {
    width: 90%;
  }

  &__row {
    @include span-columns(12);

    > .form__fieldset {
      @include span-columns(12);

      @media (min-width: em(870px)) {
        @include span-columns(4 of 12);
        @include omega(3n);
      }
    }
  }

  &__confirmation {
    float: left;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: #17ac10;
  }
}
