<div ng-include="'_header.html'"></div>

<div class="row">
  <h3 class="text-info">Insira uma nova atração</h3>

  <form class="form form-attraction" name="attractionForm" ng-submit="addAttraction(attractionForm.$valid)" novalidate>
    <div class="form-attraction__row">
      <fieldset class="form__fieldset">
        <label class="form__label" for="title">Título:</label>
        <input
          class="form__text"
          id="title"
          name="title"
          ng-model="newAttraction.title"
          type="text"
          placeholder="p. ex.: Pulp Fiction"
          required/>
      </fieldset>
      <fieldset class="form__fieldset">
        <label class="form__label" for="media">Mídia:</label>
        <input
          class="form__text"
          id="media"
          ng-model="newAttraction.media"
          type="text"
          placeholder="p. ex.: DVD, TV, Netflix"
          required/>
      </fieldset>
      <fieldset class="form__fieldset">
        <label class="form__label" for="schedule">Horário:</label>
        <input
          class="form__text"
          id="schedule"
          type="datetime-local"
          ng-model="newAttraction.schedule"/>
      </fieldset>
    </div>
    <div class="form-attraction__row">
      <button class="button button--block form__submit" type="submit">Adicionar</button>
    </div>
    <p class="form-attraction__confirmation" ng-show="!attractionForm.$dirty && addedAttraction">A atração foi cadastrada com sucesso!</p>
  </form>

</div>

<section class="row">
  <h3 class="text-info">Minhas atrações</h3>

  <div ng-include="'_attractions-list.html'"></div>
</section>
