<h1>Watcher / {{ user.name }}</h1>

<form ng-submit="addAttraction()">
  <input type="text" ng-model="newAttraction.title" placeholder="Título" required>
  <input type="text" ng-model="newAttraction.media" placeholder="Mídia" required>
  <input type="datetime-local" ng-model="newAttraction.schedule"/>
  <input type="submit" value="Adicionar">
</form>

<ul>
  <li ng-repeat="attraction in attractions">
    {{ attraction.title }} | {{ attraction.media }} | {{ attraction.schedule | date:"dd/MM/yyyy ' - ' h:mma" }}
  </li>
</ul>
