<header class="header" ng-controller="HeaderCtrl">
  <div class="row">
    <nav class="navbar navbar--primary">
      <ul class="navbar__menu">
        <li class="navbar__menu__item" ng-hide="isLogged">
          <a class="navbar__menu__link" ui-sref="home" ui-sref-active="active">Home</a>
        </li>
        <li class="navbar__menu__item">
          <a class="navbar__menu__link" ui-sref="users" ui-sref-active="active">Usuários</a>
        </li>
      </ul>
    </nav>
    <nav class="navbar navbar--secondary">
      <ul class="navbar__menu">
        <li class="navbar__menu__item" ng-show="isLogged">
          <a class="navbar__menu__link -avatar" ui-sref="dashboard({ id: currentUser.id })" ui-sref-active="active">
            <img src="http://placehold.it/30x30" alt="avatar de {{ currentUser.name }}">
            Minhas Atrações
          </a>
        </li>
        <li class="navbar__menu__item" ng-show="isLogged">
          <a class="navbar__menu__link" ng-click="logout()">Sair</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="row">
    <h1 class="header__title">Watcher / <span class="highlight">{{ pageTitle || user.name }}</span></h1>
  </div>
</header>
