<div ng-class="pageTitle == 'Usuários' ? 'l-users-inner-grid' : 'l-users-grid'">
  <div class="user-box" ng-repeat="user in users">
    <a class="user-box__avatar" href="#/users/{{user.id}}">
      <img src="http://placehold.it/100x100" alt="avatar de {{ user.name }}">
    </a>
    <div class="user-box__content">
      <div class="inner">
        <h3 class="user-box__title"><a href="#/users/{{user.id}}">{{ user.name }}</a></h3>
        <a ng-show="pageTitle != 'Usuários'" class="button-line user-box__button" href="#/dashboard/{{user.id}}">Fazer login</a>
        <a class="button-line user-box__button" href="#/users/{{user.id}}">Lista de atrações</a>
      </div>
    </div>
  </div>
</div>
