<div ng-controller="HomeCtrl">
  <h1>Hello, Watcher !</h1>
  <ul>
    <li ng-repeat="user in users">
      {{ user.name }}
      <button ng-click="getAttractions(user.id)">Visualizar atrações</button>
    </li>
  </ul>

  <ul ng-show="attractions.length > 0">
    <li ng-repeat="attraction in attractions">
      {{ attraction.title }} | {{ attraction.media }} | {{ attraction.schedule | date:"dd/MM/yyyy ' - ' h:mma" }}
    </li>
  </ul>

  <form ng-submit="addAttraction()">
    <select ng-model="newAttraction.userId">
      <option ng-repeat="user in users" value="{{user.id}}">{{ user.name }}</option>
    </select>
    <input type="text" ng-model="newAttraction.title" placeholder="Título" required>
    <input type="text" ng-model="newAttraction.media" placeholder="Mídia" required>
    <input type="datetime-local" ng-model="newAttraction.schedule"/>
    <input type="submit" value="Adicionar">
  </form>

</div>
