<div ng-controller="HomeCtrl">
  <h1>Hello, Watcher !</h1>

  <ul>
    <li ng-repeat="user in users">
      {{ user.name }}
      <button ng-click="getAttractions(user.id)">Visualizar atrações</button>
    </li>
  </ul>

  <ul ng-show="attractions.length > 0">
    <li ng-repeat="attraction in attractions">
      {{ attraction.title }}
    </li>
  </ul>

</div>