<!DOCTYPE html>
<html>
<head>
  <title>Watcher - Organize suas atrações</title>
  <meta name='viewport', content='width=device-width, initial-scale=1'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="Watcher">

  <ui-view></ui-view>

</body>
</html>
